.atendimento {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
  background: rgb(222, 222, 222);
}

.atendimento-bg {
  text-align: center;
  padding: 0px 80px;
  width: 1150px; /* Garante que o contêiner ocupe todo o espaço horizontal disponível */
  box-sizing: border-box; /* Mantém o padding dentro da largura total */
}

.atendimento-bg h1 {
  font-size: 40px;
  padding-bottom: 80px;
  font-weight: 600;
  color: #d81d23;
}

.atendimento-grid {
  text-align: start;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Ajuste as larguras das colunas conforme necessário */
  gap: 40px;
}

.atendimento-grid a{
  transition: 0.2s;
  color: rgb(0, 40, 105);
}

.atendimento-grid a:hover{
  color: rgb(0, 83, 216);
}

@media (max-width: 450px) {
.atendimento-bg{
  padding: 0px 40px;
}

  .atendimento-grid{

  }
  .atendimento h1{
    font-size: 2rem;
    padding-bottom: 40px;
   
  }

  .atendimento{
    padding-top: 80px;
  }
}
