html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  --color1: #000000;
  --color2: #181818;
}

header {
  background-color: #ffffff;
}

.nav-bar {
  max-width: calc(1200rem / 16);
  padding: 1.5rem 1.75rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}
.logo img {
  width: 7.2rem;
}
.menu {
  display: flex;
  gap: 2rem;
}

.nav-bar strong {
  font-weight: 600;
  border: 2px solid rgb(255, 30, 0);
  padding: calc(8rem / 16) calc(12rem / 16);
  box-sizing: border-box;
  border-radius: calc(2rem / 16);
  margin-left: calc(-12rem / 16);
  transition: 0.2s;
}

.nav-bar strong:hover {
  background: rgb(255, 30, 0);
  color: rgb(0, 40, 105);
}

.menu li a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 40, 105);
  font-size: 1rem;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  padding: calc(10rem / 16);
  transition: 0.2s;
}

.menu li a:hover {
  color: rgb(0, 86, 224);
}

.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: calc(20rem / 16);
  transform: translateY(-50%);
}
.close-menu {
  top: calc(52rem / 16);
  right: calc(25rem / 16);
}
#check {
  display: none;
}

@media (max-width: calc(890rem/16)) {
  .menu {
    padding-top: calc(85rem / 16);
    padding-left: calc(30rem / 16);
    flex-direction: column;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: rgb(0, 71, 185);
    transition: all 0.2s ease-in-out;
    gap: 0;
  }
  .menu li {
    margin-top: calc(30rem / 16);
  }
  .menu li a {
    padding: calc(10rem / 16);
    color: rgb(255, 240, 240);
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  label img {
    width: 2rem;
  }

  .close-menu img {
    width: 1.2rem;
  }
}

@media (max-width: calc(500rem/16)) {
  .menu li a {
    font-size: 0.9rem;
  }
  .nav-bar strong {
    padding: calc(6rem / 16) calc(4rem / 16);
  }
}
