.servicos-itens {
  display: flex;
  gap: 14rem;
  justify-content: center;
  padding: 0 calc(56rem/16);
}

.servicos-itens li {
  background: white;
  width: calc(150rem/16);
  display: grid;
  padding: calc(20rem/16) calc(20rem/16) calc(10rem/16) calc(20rem/16);
  height: 12rem;
  justify-items: center;
  border-radius: calc(6rem/16); /* Adiciona bordas arredondadas */
  border: calc(2rem/16) solid transparent; /* Define uma borda transparente */
  box-shadow: 0 0 calc(20rem/16) rgba(0, 0, 0, 0.5); /* Adiciona uma sombra esfumaçada */
  min-width: calc(140rem/16);
}

#custo {
  width: calc(90rem/16);
}

.servicos-itens h3 {
  font-family: 'fira sans';
  font-size: 0.88rem;
  color: rgb(0, 40, 105);
  font-weight: bold;
  text-align: center;
}

.servicos-bg li {
  margin-top: calc(-70rem/16);
}

.servicos-itens li:nth-child(2) {
  margin-top: calc(-50rem/16);
  background-color: rgb(0, 40, 105);
}

#meio {
  color: white;
}

@media (max-width: calc(900rem/16)) {
  .servicos-itens {
    gap: 2rem;
  }
  .servicos-itens li {
    width: calc(120rem/16);
    padding: calc(10rem/16);
    height: 11rem;
  }
}
@media (max-width: calc(500rem/16)) {
  .servicos-itens {
    gap: 1rem;
  }
  .servicos-itens li {
    width: calc(90rem/16);
    padding: calc(10rem/16);
    height: 9rem;
    min-width: calc(90rem/16);
  }
  .servicos-itens h3 {
    margin-top: 0.2rem;
    font-size: 0.8rem;
  }
}
